node_modules
dist
frontend/node_modules
frontend_con_vue/node_modules
venv
Backend\textilesBackend\textilesBackend\settings.py
Backend/textilesBackend/textilesBackend/settings.py
Backend/textilesBackend/textilesBackend/settings.py
Backend/textilesBackend/textilesBackend/settings.py
